
body {
font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  color:#0B0B3B; 
}

header h1,
header h4 {
	font-weight: 300;
}

header h1 {
	font-size: 45px;
}

header h4 {
	font-size: 25px;
}

.img{
  display: unset;
  cursor: pointer;
}
.logo {
	width: 100px;
	margin-top: 15px;
}

h2 {
	color:#02b3e4;

}
